## Step 5 - Linking the closest weather station to each park by ID

In [4]:
import pandas as pd

### Since there is a lot of data, first I'll find the closest station to each place according to the latitude and longitude

In [5]:
stations = pd.DataFrame.from_csv("weather/stations_locations.csv")
stations.head()

,0,1,2,3,4,5,6,7
0,AQC00914000,-14.3167,-170.7667,408.4,AS,AASUFOU,NaN,NaN
1,AQW00061705,-14.3306,-170.7136,3.7,AS,PAGO PAGO WSO AP G,SN,91765
2,CAW00064757,44.2325,-79.7811,246.0,ON,EGBERT 1 W,NaN,NaN
3,CQC00914080,15.2136,145.7497,252.1,MP,CAPITOL HILL 1,NaN,NaN
4,CQC00914801,14.1717,145.2428,179.2,MP,ROTA AP,NaN,91221

In [6]:
parks = pd.DataFrame.from_csv("Ultimate_Master.csv")
parks.head()

,Zip,Best Season,2nd Best Season,3rd Best Season,4th Best Season,Off Season,Best color,ZObjects,Lat,Lon
Abraham Lincoln Birthplace NHP,42748,7,6,8,5,1,green,<Zip: 42748>,37.56,-85.73
Acadia NP,4660,8,7,9,6,12,teal,<Zip: 04660>,44.31,-68.36
Adams NHP,2169,7,8,6,9,1,green,<Zip: 02169>,42.26,-71.00
African Burial Ground NM,10007,7,5,6,4,1,green,<Zip: 10007>,40.71,-73.99
Agate Fossil Beds NM,69346,7,6,8,9,2,green,<Zip: 69346>,42.68,-103.88

In [8]:
parks['Closest Station'] = ""


for i in range(len(parks)):
    closest_dist = 10000
    closest_id = ""
    for j in range(len(stations)):
        dist = ((parks.ix[i,8] - stations.ix[j,1])**2 +(parks.ix[i,9] - stations.ix[j,2])**2)**(.5)
        if dist < closest_dist:
            closest_dist = dist
            closest_id = stations.ix[j,0]
    parks.ix[i,10] = closest_id

parks.to_csv("Ultimate_Master_2.csv")